body {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    gap: 1rem;
}

section {
    display: flex;
    gap: 2rem;
}

div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    display: flex;
    justify-content: center;

}

h1 {
    border: solid white;
    display:double flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #8DA69E;
    color: white;
    border-radius: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
}

td {
    border: solid #A87C70;
    color: white;
    background-color: #A87C70;
    border-radius: 5px;
}

h2 {
    display: flex;
    justify-content: center;
    background-color: #8DA69E;
    border: #8DA69E solid 0.5rem;
    border-radius: 6px;
    color: white;
}

h3 {
    display: flex;
    justify-content: center;
    background-color: #8DA69E;
    border: #8DA69E solid 1rem;
    border-radius: 10px;
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
    background-color: #8DA69E;
    border: solid #8DA69E;
    border-radius: 5px;
    padding: 1rem;
    padding-left: 2rem;
    color: white;
}

li {
    
}

.petitTexte {
    background-color: #8DA69E;
    color: white;
    border: solid #8DA69E;
    border-radius: 5px;
    padding: 1rem;
}

.story {
    display: flex;
    justify-content: center;
    background-color: #8DA69E;
    border: solid #8DA69E;
    border-radius: 5px;
    color: white;
    padding-left: 0.5rem;
}

.liens {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

a {
    background-color: #8DA69E;
    border: #8DA69E solid 0.5rem;
    border-radius: 10px;
}
